body {
  font-family: 'Roboto', sans-serif;
}
h1.header {
  text-align: center;
}
.content {
  background-color: #2F81B7;
}
.panel {
  margin: 1em;
}
.panel h4 {
  text-align: center;
}

.filters {
  font-size: 2em;
}

.panel.co2 .img {
  text-align: center;
}
.co2-details {
  text-align: center;
}
.co2-details .current, .co2-details .previous {
  color: #777;
  font-weight: 300;
}

.co2-details .current .value {
  color: #333;
  font-size: larger;
}

.co2-details .previous .value {
  color: #333;
  font-size: larger;
}
